<!DOCTYPE html>
<html>
  <head>
       
       
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->



  </head>
  <body>
       <!--<%- include('header'); -%>--> 
  
    <h1>Akash Raval</h1>
    <iframe src="http://akashraval.host22.com" width="900" height="1000"></iframe>
    
    <!--<%- include('footer'); -%>-->
  </body>
</html>
