<form method="post" action="/thanks_form">
    <b>Name : </b><input type="text" id="name" name="name"/><br/><br/><br/>
    <b>Email : </b><input type="email" id="email" name="email"/><br/><br/><br/>
    <b>Mobile : </b><input type="text" id="mo" name="mo"/><br/><br/><br/>
    <b>address : </b><input type="text" id="add" name="add"/><br/><br/><br/>
    <b>nick name : </b><input type="text" id="nick" name="nick"/><br/><br/><br/>
    <input type="submit" name="submit" value="Submit"/>
</form>