<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Node Project</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Coda:400,800" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="menu-wrapper">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/">Homepage</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu --> 
</div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Node Project</a></h1>
			<p>Design by <a href="http://akashraval.host22.com" rel="nofollow">Akash Raval</a></p>
		</div>
	</div>
</div>
<div id="wrapper"> 
	<!-- end #header -->
	<div id="page-bgtop"></div>
	<div id="page">
		<div><img src="https://cdn-images-1.medium.com/max/1600/1*-Nq1fQSPq9aeoWxn4WFbhg.png" width="920" height="300" alt="" /></div>
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Welcome to Node Project </a></h2>
				<p class="meta"><span class="date">Jan 09, 2019</span><span class="posted">Posted by <a href="#">Akash Raval</a></span></p>
				
				<aside>
						<ul>
								<li class="active">
									  <a href="/en/docs/">Docs</a>
								</li>
								<li >
									  <a href="/en/docs/es6/">ES6 and beyond</a>
								</li>
								<li >
									<a href="/dist/latest-v10.x/docs/api">v10.15.0 API <span class="small color-lightgray">LTS</span></a>
								</li>
								<li >
									<a href="/dist/latest-v11.x/docs/api">v11.6.0 API</a>
								</li>
								<li >
									  <a href="/en/docs/guides/">Guides</a>
								</li>
								<li >
									  <a href="/en/docs/meta/topics/dependencies/">Dependencies</a>
								</li>
						</ul>
					  </aside>
				<article>
						<a class="edit-link" href="https://github.com/nodejs/nodejs.org/edit/master/locale/en/docs/index.md">Edit on GitHub</a> <h1 id="header-about-docs">About Docs<a name="about-docs" class="anchor" href="#about-docs" aria-labelledby="header-about-docs"></a></h1><p>There are several types of documentation available on this website:</p>
				<ul>
				<li>API reference documentation</li>
				<li>ES6 features</li>
				<li>Guides</li>
				</ul>
				<h3 id="header-api-reference-documentation">API Reference Documentation<a name="api-reference-documentation" class="anchor" href="#api-reference-documentation" aria-labelledby="header-api-reference-documentation"></a></h3><p>The <a href="/api/">API reference documentation</a> provides detailed information about a function or object in Node.js. This documentation indicates what arguments a method accepts, the return value of that method, and what errors may be related to that method. It also indicates which methods are available for different versions of Node.js.</p>
				<p>This documentation describes the built-in modules provided by Node.js. It does not document modules provided by the community.</p>
				<div class="highlight-box">
				  <h4>Looking for API docs of previous releases?</h4>
				
				  <ul>
					<li><a href="https://nodejs.org/docs/latest-v9.x/api/">Node.js 9.x</a></li>
					<li><a href="https://nodejs.org/docs/latest-v8.x/api/">Node.js 8.x</a></li>
					<li><a href="https://nodejs.org/docs/latest-v7.x/api/">Node.js 7.x</a></li>
					<li><a href="https://nodejs.org/docs/latest-v6.x/api/">Node.js 6.x</a></li>
					<li><a href="https://nodejs.org/docs/latest-v5.x/api/">Node.js 5.x</a></li>
					<li><a href="https://nodejs.org/docs/latest-v4.x/api/">Node.js 4.x</a></li>
					<li><a href="https://nodejs.org/docs/latest-v0.12.x/api/">Node.js 0.12.x</a></li>
					<li><a href="https://nodejs.org/docs/latest-v0.10.x/api/">Node.js 0.10.x</a></li>
					<li><a href="https://nodejs.org/docs/">all versions</a></li>
				  </ul>
				</div>
				
				<h3 id="header-es6-features">ES6 Features<a name="es6-features" class="anchor" href="#es6-features" aria-labelledby="header-es6-features"></a></h3><p>The <a href="/en/docs/es6/">ES6 section</a> describes the three ES6 feature groups, and details which features are enabled by default in Node.js, alongside explanatory links. It also shows how to find which version of V8 shipped with a particular Node.js release.</p>
				<h3 id="header-guides">Guides<a name="guides" class="anchor" href="#guides" aria-labelledby="header-guides"></a></h3><p>The <a href="/en/docs/guides/">Guides section</a> has long-form, in-depth articles about Node.js technical features and capabilities.</p>
				
				
					  </article>
					  
				
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>This is <strong>Node Project </strong>, </p>				</div>
			</div>
			
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		
		<!-- end #sidebar -->
		
	</div>
	<div id="page-bgbtm"></div>
	<!-- end #page --> 
</div>
<div id="footer">
	<p>2019. Node Project. All rights reserved. Design by <a href="http://akashraval.host22.com" rel="nofollow">Akash Raval</a>. Photos by <a href="http://fotogrph.com/">fotogrph</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
