body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}
h1{
  color: blueviolet;
}
h2{
  color:chocolate;
}
hr{
  color: white;
}
font{
  color: white;
}
b{
  color: antiquewhite;
}
text{
  color: green;
}